# This is an example network configuration
# Network configurations live in ~/.ctrlproxy/networks/<NAME>
[global]
fullname=Somebody
nick=mynick
username=myuser
reconnect-interval=60
servers=irc.ipv6.freenode.net:6667;
[irc.ipv6.freenode.net:6667]
ssl=false
