# Example RC file for ctrlproxy.
# Read the documentation for more information.

[global]
# Replication mechanism to use (some other IRC proxies call this backlog)
# Possible values: none, simple, highlight, lastdisconnect
# Meanings:
# 	none: No backlog
# 	simple: Send backlog since the user last said something
# 	lastdisconnect: Send backlog since the users' last disconnect
# 	highlight: Send backlog since last connect, but only lines 
# 			   containing 'matches' (see below)
replication = none

# Prepend all lines in replication with the time a line was received when replicating
# possible settings: never|always|replication
report-time = never

# What words to look for when remembering lines 
# (in case "replication = highlight")
# Seperate using semicolons
# matches=ctrlproxy;foobar

# Port at which CtrlProxy should listen for new connections
# Connections can be plain IRC connections or using the SOCKS protocol.
port=6680

# Password for logging in to ctrlproxy
password=secret

# Set "bind" to make ctrlproxy only listen on a specific IP address:
# Example: bind=192.168.4.3

# Override motd-file location
#motd-file = /tmp/my-motd

# Whether or not to automatically connect to a network if a client requests
# a connection. If disabled, it is only possible to connect to networks 
# listed in the configuration
# create-implicit = true

# Save state to configuration file on exit
autosave = true

# Networks to connect to on startup. Seperate by semicolons
autoconnect = admin
# autoconnect = admin;irc.oftc.net;irc.freenode.net;
#
# Automatically set AWAY after a certain period of time
#auto-away-enable = true
#auto-away-message = I'm currently away, sorry!
#auto-away-time = 300 # in seconds

# Irssi-style logging
#logging = irssi
#logfile = /home/jelmer/tmp/ctrlproxy
