nick = ctrlproxy
logfile = /home/jelmer/log/%s/%s
modules = mods/log.so mods/client_simple.so
clientpass = secret

[oftc]
host = irc.oftc.net
autojoin = #ctrlproxy
clientport = 6676
# I don't want to be named ctrlsoft on this network
nick = jelmer

[opn]
host = irc.freenode.net
autojoin = #ctrlproxy,#samba
clientport = 6677

[inu]
host = irc.internetnu.nl
clientport = 6675
