<?xml version="1.0"?>
<ctrlproxy>
	<plugins>
		<plugin autoload="1" file="libsocket">
			<sslcertfile>./ctrlproxy.pem</sslcertfile>
			<sslkeyfile>./ctrlproxy.pem</sslkeyfile>
		</plugin>
		<plugin autoload="1" file="librepl_memory"/>
		<plugin autoload="1" file="libadmin"/>
		<plugin autoload="1" file="liblog_irssi">
			<logfile>/home/jelmer/tmp/ctrlproxy</logfile>
		</plugin>
		<plugin autoload="1" file="libctcp"/>
		<plugin autoload="1" file="libstrip"/>
		<plugin autoload="1" file="libnickserv"/>
		<plugin autoload="1" file="libantiflood"/>
		<plugin autoload="1" file="libauto-away">
			<message time="300">"I'm currently away, sorry!</message>
		</plugin>
		<plugin file="libstats">
			<tdbfile>/home/jelmer/.ctrlproxy-stats.tdb</tdbfile>
			<pattern type="happy">[:;]([-]*)[\)D]</pattern>
			<pattern type="unhappy">[:;]([-]*)[\/\(]</pattern>
			<pattern type="question">\?([^ ]*)$</pattern>
			<pattern type="exclamation">!([^ ]*)$</pattern>
			<pattern type="lines">(.*)</pattern>
			<pattern type="word">([^ ]+)</pattern>
			<pattern type="caps">^([^a-z]+)$</pattern>
			<pattern type="action">.ACTION .</pattern>
		</plugin>
	</plugins>
	<networks>
		<network autoconnect="1" client_pass="secret" name="BEE" replication="memory">
			<listen>
				<ipv4 port="8004"/>
			</listen>
			<servers>
				<pipe>
					<path>/usr/sbin/bitlbee</path>
				</pipe>
			</servers>
		</network>
		<network autoconnect="1" client_pass="secret" name="Freenode" nick="jelmer" username="jelmer" fullname="Jelmer Vernooij">
			<listen>
				<ipv4 port="6667"/>
				<ipv4 port="7667" ssl="1"/>
			</listen>

			<servers>
				<ipv4 host="irc.freenode.net"/>
			</servers>
			<channel name="#ctrlproxy" autojoin="1"/>
			<autosend>PRIVMSG ctrlsoft :Hi There, I'm using ctrlproxy!</autosend>
			<channel name="#flood" autojoin="1"/>
			<channel name="#bla" autojoin="0"/>

			<!-- Automatically send IDENTIFY and GHOST messages when necessary -->
			<nickserv>
				<nick name="jelmer" password="foobar"/>
			</nickserv>
		</network>
	</networks>
</ctrlproxy>
