Source: ctrlproxy
Section: net
Priority: optional
Maintainer: Wilmer van der Gaast <lintux@debian.org>
Standards-Version: 3.5.8
Build-Depends: libglib2.0-dev, libxml2-dev, libgnutls-dev, debhelper (>> 4.0.0)

Package: ctrlproxy
Architecture: any
Depends: ${shlibs:Depends}
Suggests: ${shlibs:Suggests}, bitlbee
Description: An IRC proxy with multiserver support
 ctrlproxy is an IRC server with multiserver support. It runs as a daemon
 and connects to a number of IRC servers, then allows you to connect from
 a workstation and work as the user that is logged in to the IRC server.
 After you disconnect, it maintains the connection to the server. It acts
 like any normal IRC server, so you can use any IRC client to connect to
 it. It supports multiple client connections to one IRC server (under the
 same nick), allowing you to connect to IRC using your IRC nick, even
 while you have an IRC session open somewhere else. It supports logging
 (in the same format as the irssi IRC client), password authentication,
 and ctcp (in case no clients are connected).
